* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Kalam', sans-serif;
  background-color: #efefef;
}

.wrap {
  margin-top: 2.4rem;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.wrap {
  border-top: 0.1rem dashed #d1d1d1;
  border-bottom: 0.1rem dashed #d1d1d1;
}

.carousel-wrapper {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.carousel-item {
  width: 100%;
  flex-shrink: 0;
}

.carousel-item img {
  max-width: 100%;
  width: 100%;
  border-radius: 0.2rem;
}

.control-wrap {
  display: flex;
  justify-content: space-between;
}

.carousel-dots {
  display: flex;
}

.carousel-text {
  font-size: x-large;
  align-self: center;
}

.to-left {
  animation: 0.5s slide-left;
}

@keyframes slide-left {
  from {
    margin-left: 8rem;
  }

  to {
    margin-right: 0%;
  }
}

.carousel-control {
  padding: 4.2rem 0.8rem;
  align-self: center;
  cursor: pointer;
  transition: all 0.5s;
}

.carousel-control .carousel-dot {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #2c3b41;
  row-gap: 4rem;
  border-radius: 100%;
}

.carousel-control:hover > .carousel-dot {
  background-color: darkred;
}

.carousel-control.active > .carousel-dot {
  background-color: transparent;
  border: 0.2rem solid #2c3b41;
}

.l-slide {
  display: none;

  /* 12.8rem - dots width */
  width: calc(100% - 12.8rem);
  font-size: 2rem;
  align-self: center;
}

/* ------------------------ */
#slide-1 {
  order: 1;
  display: none;
}

#slide-1:checked ~ .carousel {
  transform: translate(0);
}

#slide-1:checked ~ .l-slide-1 {
  display: block;
}

#slide-1:checked ~ .s1 > .s11 {
  background-color: transparent;
  border: 0.3rem solid #25282a;
}

.s1 {
  order: 1;
}

/* ------------------------ */
#slide-2 {
  order: 2;
  display: none;
}

#slide-2:checked ~ .carousel {
  transform: translate(-100%);
}

#slide-2:checked ~ .l-slide-2 {
  display: block;
}

#slide-2:checked ~ .s2 > .s22 {
  background-color: transparent;
  border: 0.3rem solid #25282a;
}

.s2 {
  order: 2;
}

/* ------------------------ */
#slide-3 {
  order: 3;
  display: none;
}

#slide-3:checked ~ .carousel {
  transform: translate(-200%);
}

#slide-3:checked ~ .l-slide-3 {
  display: block;
}

#slide-3:checked ~ .carousel {
  transform: translate(-200%);
}

#slide-3:checked ~ .s3 > .s33 {
  background-color: transparent;
  border: 0.3rem solid #25282a;
}

.s3 {
  order: 3;
}

/* ------------------------ */
#slide-4 {
  order: 4;
  display: none;
}

#slide-4:checked ~ .carousel {
  transform: translate(-300%);
}

#slide-4:checked ~ .l-slide-4 {
  display: block;
}

#slide-4:checked ~ .s4 > .s44 {
  background-color: transparent;
  border: 0.3rem solid #25282a;
}

.s4 {
  order: 4;
}

/* ------------------------ */

.carousel-wrapper {
  display: flex;
}

.carousel-wrapper:not(.carousel) {
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 420px) {
  .carousel-wrapper {
    justify-content: center;
  }

  .l-slide {
    order: 5;
    width: 100%;
  }
}

label div {
  width: 1.6rem;
  height: 1.6rem;
  margin: 2rem 0.8rem;
  background-color: #25282a;
  border-radius: 100%;
  cursor: pointer;
}

label:hover > div {
  background-color: darkred;
}

label:hover {
  cursor: pointer;
}
