* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Kalam', sans-serif;
  background-color: #efefef;
}

.wrap {
  margin-top: 2.4rem;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.carousel-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.carousel-item {
  width: 100%;
  flex-shrink: 0;
}

.carousel-item img {
  max-width: 100%;
  width: 100%;
  border-radius: 0.2rem;
}

.to-left {
  animation: 0.5s slide-left;
}

@keyframes slide-left {
  from {
    margin-left: 8rem;
  }

  to {
    margin-right: 0%;
  }
}

.slide-text {
  display: none;

  /* 12.8rem - dots width */
  width: calc(100% - 12.8rem);
  font-size: 2rem;
  align-self: center;
}

/* ------------------------ */
#slide-1 {
  order: 1;
  display: none;
}

#slide-1:checked ~ .carousel {
  transform: translate(0);
}

#slide-1:checked ~ .slide-text-1 {
  display: block;
}

#slide-1:checked ~ .label-s1 > .label-s1-image {
  background-color: transparent;
  border: 0.3rem solid #25282a;
}

.label-s1 {
  order: 1;
}

/* ------------------------ */
#slide-2 {
  order: 2;
  display: none;
}

#slide-2:checked ~ .carousel {
  transform: translate(-100%);
}

#slide-2:checked ~ .slide-text-2 {
  display: block;
}

#slide-2:checked ~ .label-s2 > .label-s2-image {
  background-color: transparent;
  border: 0.3rem solid #25282a;
}

.label-s2 {
  order: 2;
}

/* ------------------------ */
#slide-3 {
  order: 3;
  display: none;
}

#slide-3:checked ~ .carousel {
  transform: translate(-200%);
}

#slide-3:checked ~ .slide-text-3 {
  display: block;
}

#slide-3:checked ~ .carousel {
  transform: translate(-200%);
}

#slide-3:checked ~ .label-s3 > .label-s3-image {
  background-color: transparent;
  border: 0.3rem solid #25282a;
}

.label-s3 {
  order: 3;
}

/* ------------------------ */
#slide-4 {
  order: 4;
  display: none;
}

#slide-4:checked ~ .carousel {
  transform: translate(-300%);
}

#slide-4:checked ~ .slide-text-4 {
  display: block;
}

#slide-4:checked ~ .label-s4 > .label-s4-image {
  background-color: transparent;
  border: 0.3rem solid #25282a;
}

.label-s4 {
  order: 4;
}

/* ------------------------ */

@media (max-width: 420px) {
  .carousel-wrapper {
    justify-content: center;
  }

  .slide-text {
    order: 5;
    width: 100%;
  }
}

label div {
  width: 1.6rem;
  height: 1.6rem;
  margin: 2rem 0.8rem;
  background-color: #25282a;
  border-radius: 100%;
  cursor: pointer;
}

label:hover > div {
  background-color: darkred;
}

label:hover {
  cursor: pointer;
}
